@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
    width: 100vw;
    overflow-x: hidden;
    /*background: rgba(3, 5, 14, 0.89);*/
    background: rgb(253, 253, 253);
    height: auto;
    font-family: "Montserrat", monospace;
    color: black;
}

@layer {
    .auth-section {
        @apply w-full h-screen overflow-hidden flex flex-col items-start justify-start px-6 py-4 gap-6;
    }

    .accountMenu {
        font-size: 0.90rem;
    }

    .header {
        z-index: 3;
        background: black
    }

    .create-template{
        z-index: -1;
    }
}
